@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
  height: 100%;
  /* position: relative; */
}

body {
  /* padding: 70px 0px 0px 0px; */
  height: 100%;
  width: 100%;
  /* position: absolute; */
  background-color: #eee;
  overflow: scroll;
  font-family: 'Merriweather', serif;
}

